<form method="get" action="" class="form" style="margin-left: 7%; margin-top: 5%;">
    <select name="month" id="id_month">
      <option value="0" selected>월 선택</option>
      <option value="01">1월</option>
      <option value="02">2월</option>
      <option value="03">3월</option>
      <option value="04">4월</option>
      <option value="05">5월</option>
      <option value="06">6월</option>
      <option value="07">7월</option>
      <option value="08">8월</option>
      <option value="09">9월</option>
      <option value="10">10월</option>
      <option value="11">11월</option>
      <option value="12">12월</option>
    </select>
</form>
  
<script>
    $(document).ready(function() {
        $( "select[name=month]" ).val( "{{ month_text }}" );
        $('select[name=month]').change(function () {
            console.log($('select[name=month]').val());
            month = $('select[name=month]').val();
        $('.form').submit();
    });
});
</script>